<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>AdminLTE 2 | Log in</title>
  <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>
<body class="hold-transition register-page">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="register-box">
      <% if notice %>
        <div class="alert alert-success alert-dismissable">
          <i class="fa fa-check"></i>
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <b><%= notice %></b>
        </div>
      <% end %>
      <div class="register-logo">
        <a href="../../index2.html"><b>Admin</b>LTE</a>
      </div>

      <div class="register-box-body">
        <p class="login-box-msg">Register a new membership</p>

        <form action="../../index.html" method="post">
          <div class="form-group has-feedback">
            <%= f.text_field :first_name, autofocus: true, class: "form-control", placeholder: "First Name" %>
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <%= f.text_field :last_name, autofocus: true, class: "form-control", placeholder: "Last Name" %>
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <!-- <input type="email" class="form-control" placeholder="Email"> -->
            <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <!-- <input type="password" class="form-control" placeholder="Password"> -->
            <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password ( #{ @minimum_password_length }  characters minimum )"  %>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <%= f.password_field :password_confirmation, autocomplete: "off", autocomplete: "off", class: "form-control", placeholder: "Retype Password" %>
            <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
          </div>
          <div class="row">
            <div class="col-xs-8">
              <div class="checkbox icheck">
                <label>
                  <input type="checkbox"> I agree to the <a href="#">terms</a>
                </label>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-xs-4">
              <%= f.submit "Sign up", class: "btn btn-primary btn-block btn-flat" %>
            </div>
            <!-- /.col -->
          </div>
        </form>

        <div class="social-auth-links text-center">
          <p>- OR -</p>
          <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign up using
            Facebook</a>
          <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign up using
            Google+</a>
        </div>

        <!-- <a href="login.html" class="text-center">I already have a membership</a> -->
        <%= render "devise/shared/links" %>
      </div>
      <!-- /.form-box -->
    </div>
  <% end %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>