/ %form.form-inline{:action => "in", :method => "post"}
/   .form-group
/     %input#formGroupExampleInput.form-control.input-lg{:placeholder => "Type a #tag", :type => "text"}
/   %button.btn.btn-primary.btn-xl{:type => "submit"} Analyze

= form_for @landing, remote: true,  :html => {:class =>  "form-inline" }do |f|
  - if @landing.errors.any?
    #error_explanation
      %h2= "#{pluralize(@landing.errors.count, "error")} prohibited this landing from being saved:"
      %ul
        - @landing.errors.full_messages.each do |msg|
          %li= msg
 
  = f.text_field :search,:placeholder => "Type a #tag", :type => "text", :input_html => {:maxlength =>100,:style=> 'width: 300px'},  label: false, class: "formGroupExampleInput form-control input-lg"
  
  = f.button :Analyze, :value => "submit", :type => "submit", class: "btn btn-primary btn-xl"