.col-xs-12
  .box
    .box-header
      %h3.box-title Registered Users
      .box-tools
        .input-group.input-group-sm{:style => "width: 150px;"}
          %input.form-control.pull-right{:name => "table_search", :placeholder => "Search", :type => "text"}
            .input-group-btn
              %button.btn.btn-default{:type => "submit"}
                %i.fa.fa-search
    / /.box-header
    .box-body.table-responsive.no-padding
      %table.table.table-hover
        %tbody
          %tr
            %th Full Names
            %th Email
            %th settings
        - users.each do |user|
          %tr
            %td= user.full_names
            %td= user.email
            %td
              -if current_user && current_user.is_admin?
                = link_to 'Show Details',  user, class: "label label-warning"
                = link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "label label-danger"
                -unless current_user == user
                  -if user.is_moderator?
                    = link_to " Moderator - Make Normal user", user_make_normal_user_path(user), class: "label label-pill label-default"
                  -elsif user.is_admin?
                    = link_to " Admin Make Normal user",  user_make_normal_user_path(user), :data => { :confirm => 'Are you sure?' }, class: "label label-pill label-info"
                  -else
                    = link_to "Make moderator", user_make_moderator_path(user), :data => { :confirm => 'Are you sure?' }, class: "label label-success"

.row
  .col-md-6
    .box.box-danger
      .box-header.with-border
        %h3.box-title Pie Chart
        .box-tools.pull-right
          %button.btn.btn-box-tool{"data-widget" => "collapse", :type => "button"}
            %i.fa.fa-minus
          %button.btn.btn-box-tool{"data-widget" => "remove", :type => "button"}
            %i.fa.fa-times
      .box-body
        = pie_chart @data, @options

  .col-md-6
    .box.box-danger
      .box-header.with-border
        %h3.box-title Donut Chart
        .box-tools.pull-right
          %button.btn.btn-box-tool{"data-widget" => "collapse", :type => "button"}
            %i.fa.fa-minus
          %button.btn.btn-box-tool{"data-widget" => "remove", :type => "button"}
            %i.fa.fa-times
      .box-body
        = doughnut_chart @data, @options1


  .col-md-6
    .box.box-success
      .box-header.with-border
        %h3.box-title Line Chart
        .box-tools.pull-right
          %button.btn.btn-box-tool{"data-widget" => "collapse", :type => "button"}
            %i.fa.fa-minus
          %button.btn.btn-box-tool{"data-widget" => "remove", :type => "button"}
            %i.fa.fa-times
      .box-body
        = line_chart @data, @options2

  .col-md-6
    .box.box-success
      .box-header.with-border
        %h3.box-title Polar Chart
        .box-tools.pull-right
          %button.btn.btn-box-tool{"data-widget" => "collapse", :type => "button"}
            %i.fa.fa-minus
          %button.btn.btn-box-tool{"data-widget" => "remove", :type => "button"}
            %i.fa.fa-times
      .box-body
        = polar_area_chart @data, @options3

  .col-md-6
    .box.box-success
      .box-header.with-border
        %h3.box-title Radar Chart
        .box-tools.pull-right
          %button.btn.btn-box-tool{"data-widget" => "collapse", :type => "button"}
            %i.fa.fa-minus
          %button.btn.btn-box-tool{"data-widget" => "remove", :type => "button"}
            %i.fa.fa-times
      .box-body
        = radar_chart @data, @options4

  .col-md-6
    .box.box-success
      .box-header.with-border
        %h3.box-title Bar Chart
        .box-tools.pull-right
          %button.btn.btn-box-tool{"data-widget" => "collapse", :type => "button"}
            %i.fa.fa-minus
          %button.btn.btn-box-tool{"data-widget" => "remove", :type => "button"}
            %i.fa.fa-times
      .box-body
        = bar_chart @data, @options5