%p#notice= notice


.col-md-3
  / Profile Image
  .box.box-primary
    .box-body.box-profile
      %img.profile-user-img.img-responsive.img-circle{:alt => "User profile picture", :src => "#{@user.avatar.url}"}
        %h3.profile-username.text-center 
          =@user.full_names
        %p.text-muted.text-center Software Engineer
        %ul.list-group.list-group-unbordered
          %li.list-group-item
            %b Followers
            %a.pull-right 1,322
          %li.list-group-item
            %b Following
            %a.pull-right 543
          %li.list-group-item
            %b Friends
            %a.pull-right 13,287
        %a.btn.btn-primary.btn-block{:href => "#"}
          %b Follow
    / /.box-body
  / /.box
  / About Me Box
  / .box.box-primary
  /   .box-header.with-border
  /     %h3.box-title About Me
  /   / /.box-header
  /   .box-body
  /     %strong
  /       %i.fa.fa-book.margin-r-5
  /       Education
  /     %p.text-muted
  /       B.S. in Computer Science from the University of Tennessee at Knoxville
  /     %hr
  /       %strong
  /         %i.fa.fa-map-marker.margin-r-5
  /         Location
  /       %p.text-muted Malibu, California
  /       %hr
  /         %strong
  /           %i.fa.fa-pencil.margin-r-5
  /           Skills
  /         %p
  /           %span.label.label-danger UI Design
  /           %span.label.label-success Coding
  /           %span.label.label-info Javascript
  /           %span.label.label-warning PHP
  /           %span.label.label-primary Node.js
  /         %hr
  /           %strong
  /             %i.fa.fa-file-text-o.margin-r-5
  /             Notes
  /           %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.


.col-md-9
  .nav-tabs-custom
    %ul.nav.nav-tabs
      %li.active
        %a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#activity"} Activity
      %li
        %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#timeline"} Timeline
      %li
        %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#settings"} Settings
    .tab-content
      #activity.tab-pane.active
        / Post
        .post
          .user-block
            %img.img-circle.img-bordered-sm{:alt => "user image", :src => "../../dist/img/user1-128x128.jpg"}
              %span.username
                %a{:href => "#"} Jonathan Burke Jr.
                %a.pull-right.btn-box-tool{:href => "#"}
                  %i.fa.fa-times
              %span.description Shared publicly - 7:30 PM today
          / /.user-block
          %p
            Lorem ipsum represents a long-held tradition for designers,
            typographers and the like. Some people hate it and argue for
            its demise, but others ignore the hate as they create awesome
            tools to help create filler text for everyone from bacon lovers
            to Charlie Sheen fans.
          %ul.list-inline
            %li
              %a.link-black.text-sm{:href => "#"}
                %i.fa.fa-share.margin-r-5
                Share
            %li
              %a.link-black.text-sm{:href => "#"}
                %i.fa.fa-thumbs-o-up.margin-r-5
                Like
            %li.pull-right
              %a.link-black.text-sm{:href => "#"}
                %i.fa.fa-comments-o.margin-r-5
                Comments
                (5)
          %input.form-control.input-sm{:placeholder => "Type a comment", :type => "text"}
        / /.post
        / Post
        .post.clearfix
          .user-block
            %img.img-circle.img-bordered-sm{:alt => "User Image", :src => "../../dist/img/user7-128x128.jpg"}
              %span.username
                %a{:href => "#"} Sarah Ross
                %a.pull-right.btn-box-tool{:href => "#"}
                  %i.fa.fa-times
              %span.description Sent you a message - 3 days ago
          / /.user-block
          %p
            Lorem ipsum represents a long-held tradition for designers,
            typographers and the like. Some people hate it and argue for
            its demise, but others ignore the hate as they create awesome
            tools to help create filler text for everyone from bacon lovers
            to Charlie Sheen fans.
          %form.form-horizontal
            .form-group.margin-bottom-none
              .col-sm-9
                %input.form-control.input-sm{:placeholder => "Response"}
              .col-sm-3
                %button.btn.btn-danger.pull-right.btn-block.btn-sm{:type => "submit"} Send
        / /.post
        / Post
        .post
          .user-block
            %img.img-circle.img-bordered-sm{:alt => "User Image", :src => "../../dist/img/user6-128x128.jpg"}
              %span.username
                %a{:href => "#"} Adam Jones
                %a.pull-right.btn-box-tool{:href => "#"}
                  %i.fa.fa-times
              %span.description Posted 5 photos - 5 days ago
          / /.user-block
          .row.margin-bottom
            .col-sm-6
              %img.img-responsive{:alt => "Photo", :src => "../../dist/img/photo1.png"}
            / /.col
            .col-sm-6
              .row
                .col-sm-6
                  %img.img-responsive{:alt => "Photo", :src => "../../dist/img/photo2.png"}
                    %br
                      %img.img-responsive{:alt => "Photo", :src => "../../dist/img/photo3.jpg"}
                / /.col
                .col-sm-6
                  %img.img-responsive{:alt => "Photo", :src => "../../dist/img/photo4.jpg"}
                    %br
                      %img.img-responsive{:alt => "Photo", :src => "../../dist/img/photo1.png"}
                / /.col
              / /.row
            / /.col
          / /.row
          %ul.list-inline
            %li
              %a.link-black.text-sm{:href => "#"}
                %i.fa.fa-share.margin-r-5
                Share
            %li
              %a.link-black.text-sm{:href => "#"}
                %i.fa.fa-thumbs-o-up.margin-r-5
                Like
            %li.pull-right
              %a.link-black.text-sm{:href => "#"}
                %i.fa.fa-comments-o.margin-r-5
                Comments
                (5)
          %input.form-control.input-sm{:placeholder => "Type a comment", :type => "text"}
        / /.post
      / /.tab-pane
      #timeline.tab-pane
        / The timeline
        %ul.timeline.timeline-inverse
          / timeline time label
          %li.time-label
            %span.bg-red
              10 Feb. 2014
          / /.timeline-label
          / timeline item
          %li
            %i.fa.fa-envelope.bg-blue
            .timeline-item
              %span.time
                %i.fa.fa-clock-o
                12:05
              %h3.timeline-header
                %a{:href => "#"} Support Team
                sent you an email
              .timeline-body
                Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                weebly ning heekya handango imeem plugg dopplr jibjab, movity
                jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                quora plaxo ideeli hulu weebly balihoo...
              .timeline-footer
                %a.btn.btn-primary.btn-xs Read more
                %a.btn.btn-danger.btn-xs Delete
          / END timeline item
          / timeline item
          %li
            %i.fa.fa-user.bg-aqua
            .timeline-item
              %span.time
                %i.fa.fa-clock-o
                5 mins ago
              %h3.timeline-header.no-border
                %a{:href => "#"} Sarah Young
                accepted your friend request
          / END timeline item
          / timeline item
          %li
            %i.fa.fa-comments.bg-yellow
            .timeline-item
              %span.time
                %i.fa.fa-clock-o
                27 mins ago
              %h3.timeline-header
                %a{:href => "#"} Jay White
                commented on your post
              .timeline-body
                Take me to your leader!
                Switzerland is small and neutral!
                We are more like Germany, ambitious and misunderstood!
              .timeline-footer
                %a.btn.btn-warning.btn-flat.btn-xs View comment
          / END timeline item
          / timeline time label
          %li.time-label
            %span.bg-green
              3 Jan. 2014
          / /.timeline-label
          / timeline item
          %li
            %i.fa.fa-camera.bg-purple
            .timeline-item
              %span.time
                %i.fa.fa-clock-o
                2 days ago
              %h3.timeline-header
                %a{:href => "#"} Mina Lee
                uploaded new photos
              .timeline-body
                %img.margin{:alt => "...", :src => "http://placehold.it/150x100"}
                  %img.margin{:alt => "...", :src => "http://placehold.it/150x100"}
                    %img.margin{:alt => "...", :src => "http://placehold.it/150x100"}
                      %img.margin{:alt => "...", :src => "http://placehold.it/150x100"}
          / END timeline item
          %li
            %i.fa.fa-clock-o.bg-gray
      / /.tab-pane
      #settings.tab-pane
        = render 'form'
      / /.tab-pane
    / /.tab-content
  / /.nav-tabs-custom

= link_to 'Edit', edit_user_path(@user)
|
\#{link_to 'Back', user_index_path}